<!DOCTYPE html>
<html lang="en">
<title>75 Gallon Planted - Tank Control</title>
      <link rel="icon" type="image/png" href="{{url_for('static', filename='tank_favicon.ico')}}">
   </head>
<body>
<center>
      <img src="{{url_for('static', filename='tank_control.png')}}" height="150" width="150"><br><br>
    <iframe src="http://free.timeanddate.com/clock/i64ad8fh/n197/fs16/ftb/tt0/tw0/th1/tb2" frameborder="0" width="220" height="20"></iframe>
</center>

{% block content %}
{% endblock %}

</body>
</html>
